@font-face {
	font-family: FiraSans;
	font-display: swap;
	src: url("../fonts/FiraSans-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Muller;
	font-display: swap;
	src: url("../fonts/Muller-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: PlayfairDisplay;
	font-display: swap;
	src: url("../fonts/PlayfairDisplay-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
